<table>
  <tr>
    <th>User</th>
    <th>Total Earnings To Date</th>
    <th>Last Updated On</th>
    <th></th>
  <tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.full_name %></td>
    <td><%= user.earnings_formatted %></td>
    <td><%= user.earnings_updated_at_formatted %></td>
    <td><%= link_to("Go To User", user_path(user)) %></td>
  </tr>
  <% end %>
</table>
  